body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.color-primary-dark {
    background: #1565c0;
    color: white;
}

.color-primary {
    background: #2196f3;
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-header {
    flex: 0 0 auto;
}

.flex-content {
    flex: 1;
    overflow-y: auto;
}

#main {
    display: flex;
}

#map-pane {
    flex: 1;
    position: relative;
}

#map {
    height: 100%;
}


#sidebar {
    width: 25%;
    flex: 0 1 auto;
}

.w3-card {
    margin: 5px;
    cursor: pointer;
}

.card-header {
    font-size: 16px;
}

.card-content {
    padding: 5px;
}

.card-content > p:nth-child(odd) {
    margin: 0 3px;
}
.card-content > p:nth-child(even) {
    margin: 3px;
}

h5 {
    margin: 0;
    padding: 10px;
}

.modal-header {
    display: flex;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-content > * {
    flex: 1 0 auto;
}

.modal-header{
    padding: 5px;
}

.modal-content {
    border-radius: 0px !important; 
    border : 0px ;
}

#map-control{
    width: 370px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.SearchDetails{
    border-radius: 4px;
}


.SearchDetails__details{
    padding: 12px 56px 12px 12px;
    font-size: 1.1rem;
    line-height: 1.2;
}

.SearchDetails__details__times__icon{
    float: left;
    margin: 1px 7px 0 0;
}

.SearchDetails__searchButton{
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    position: absolute;
    top: 50%;
    right: 18px;
    padding: 14px;
    width: 44px;
    height: 44px;
    background: #f35141;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.toggle {
    margin: 1px;
}

.toggle > label {
    padding: 0;
}

.toggle > label > input {
    display: none;
}

.toggle > label > i {
    font-size: xx-large;
    line-height: 48px;
    width: 48px;
    text-align: center;
}

.toggle > label > input:checked + i {
    background: #2196F3;
    color: white;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}